body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

img {
    width: 150px;
    height: 100px;
}

.item {
    margin: 2em auto;
    padding: 50px;
    border-top: 10px solid #eee;
    border-bottom: 10px solid #eee;
    /*text-align: center;*/
}

/*start*/
.item > div {
    border: 1px solid #999;
}

.align-sl-box {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 300px;
    /*margin: auto;*/
}

.align-ml-box1 {
    width: 200px;
    padding: 50px;
    /*margin: auto;*/
}

.align-ml-word1 {

}

.align-ml-box2 {
    margin: auto;
    height: 200px;
    width: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 50px;
}

.align-ml-word2 {
    display: inline-block;
}

.align-ml-box3 {
    line-height: 200px;
    width: 200px;
    padding: 0 50px;
}

.align-ml-word3 {
    display: inline-block;
    line-height: 1.4em;
    vertical-align: middle;
}

.align-ml-box3 > i {
    display: inline-block;
    font-size: 0;
    width: 0;
    vertical-align: middle;
}

.align-div-box {
    background-color: #ddd;
    height: 500px;
    width: 500px;
    position: relative;
}

.align-div {
    background-color: #6699ff;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.ver-pic {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 0; /*消除middle假居中的误差*/
}

.ver-pic > img {
    vertical-align: middle;
}

.self-adaption {
    height: 200px;
}

.sa-left {
    height: 100%;
    width: 200px;
    float: left;
    background: #40b157;
}

.sa-right {
    height: 100%;
    margin-left: 200px;
    background: #999999;
}

